<div>
    <button type="submit" class="" ng-click="createBear()">Add Bear</button>
    <button type="submit" class="" ng-click="updateBear(bear._id)">Update Bear</button>
    <button type="submit" class="" ng-click="testBear()">Test Bear</button>
    <input type="text" placeholder="Fuzzy the Bear" ng-model="bearName.text">
    <span>Current Bear: <span>{{bear.name}}</span>
    <div ng-repeat="bear in bears">
      <label>
        Delete <input type="checkbox" ng-click="deleteBear(bear._id)">
     </label>
        <q ng-click="viewBear(bear._id)">{{bear.name}}</q>
        <input type="radio" name="currentBear" value="{{bear.name}}" ng-click="viewBear(bear._id)">    Current Bear
    </div>
</div>