<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/routes.js"></script>
    <script src="javascripts/directives.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/animations.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <a href="#/about">About</a>
    <a href="#/home">Home</a>
    <a href="#/other">Other</a>
    <a href="#/todo">ToDo</a>
    <a href="#/bear">Bear</a>
    <a href="#/quote">Quote</a>
    <a href="#/login">Login</a>
    <a href="#/signup">Signup</a>
    <a href="#/profile">Profile</a>
    <div ng-view></div>
  </body>
</html>
