<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/routes.js"></script>
    <script src="javascripts/directives.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/animations.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <a href="#/about">About</a>
    <a href="#/home">Home</a>
    <a href="#/other">Other</a>
    <a href="#/todo">ToDo</a>
    <div ng-controller="QuoteCtrl">
    <input type="text" class="" placeholder="I want to buy a puppy that will love me forever" ng-model="quote.text">
    <input type="text" class="" placeholder="Erik" ng-model="author.text">
    <input type="text" class="" placeholder="Puppy Quote" ng-model="name.text">
    <div ng-repeat="quote in quotes">
      <label>
        <input type="checkbox" ng-click="deleteQuote(quote._id)">
        <blockquote>{{quote.quote + ', ' + quote.author + ', ' + quote.name}}</blockquote>
      </label>
    </div>
    
    <button type="submit" class="" ng-click="createQuote()">Add</button>
    </div>
    <div ng-view></div>
  </body>
</html>
