<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/routes.js"></script>
    <script src="javascripts/directives.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/animations.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
  </head>
  <body class="container theme-showcase" role="main">
      <div class="col-sm-12 fluid-container">
        <a href="#/about" class="btn btn-lg btn-primary">About</a>
        <a href="#/home" class="btn btn-lg btn-primary">Home</a>
        <a href="#/other" class="btn btn-lg btn-primary">Other</a>
        <a href="#/todo" class="btn btn-lg btn-primary">ToDo</a>
        <a href="#/bear" class="btn btn-lg btn-primary">Bear</a>
        <a href="#/quote" class="btn btn-lg btn-primary">Quote</a>
        <a href="#/login" class="btn btn-lg btn-primary">Login</a>
        <a href="#/signup" class="btn btn-lg btn-primary">Signup</a>
        <a href="#/profile" class="btn btn-lg btn-primary">Profile</a>
        </div>
    <div ng-view class="col-sm-12"></div>
  </body>
</html>
